* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "poppins";
    
  }

  body{
    overflow-x:hidden ;
  }

.line-center{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

  .line {
  border-bottom: 2px solid black;
  margin-top: 5px;
  width: 86.5%;
  }

  .container {
    width: 100vw;
  }
  
  .navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: bl;
    background-color: #fff
  }
  
  h1{
    margin-left: 20px;
    size: 48px;
  }
  
  .button {
    display: flex;
    flex-direction: row;
  }
  
  .button li {
    margin: 20px 5px 20px 5px;
    background-color: #BCCEEC;
    padding: 10px 30px;
    border-radius: 20px;
  }
  .button li a {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button li a {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .button li:hover {
    background-color: #54698C;
    transition: 0.5s;
  }
  
  .google a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #54698C;
    border-radius: 50%;
    margin: 20px 14px 20px 5px;
  }
  
  .google img {
    border-radius: 50%;
  }

  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 81px ;
  }

  .profile .profile-top img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
  }

  .profile-user-settings .profile-user-name{
    font-size: 40px;
    margin-left: 32px;
    padding: 0px 0px 5px 0px;
  }

  .profile-user-settings .profile-bio{
    font-size: 16px;
    margin-left: 32px;
    padding: 0px 0px 10px 0px;
  }

  .profile-user-settings .profile-edit-btn {
    font-size: 16px;
    color: white;
    background-color: #202734;
    border: none;
    border-color: #202734;
    border-radius: 10px;
    padding: 8px 420px;
    margin-left: 32px;
    text-decoration: none;
  }

  .profile-user-settings .profile-edit-btn:hover{
    background-color: slategrey;
  }

  .line{
    padding-top: 10px;
  }

  .content img{
    height: 250px;
    width: 250px;
    border-radius: 5px;
    margin-left: 86px;
  }

  .content {
    margin-top: 20px;
    display: flex;
    padding-top: 10px;
    width:calc(100%-200px) ;
    position: relative;
    background-color: #fff;
  }

  .content .content-text{
    display: flex;
    flex-direction: column;
    margin: 10px 107px 10px 20px;
  }

  .categories {
    margin-top: 20px;
    font-size: 20px;
    color: slategray;
  }
  
  .title h3 {
    font-size: 40px;
    color: #202734;
  }
  
  .article p {
    text-align: left;
    font-size: 20px;
  }
  
  .footer-distributed {
    background-color: #292c2f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding: 30px 20px;
  }

  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin-top: 10px;
  }

  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }

  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }

  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }

  .footer-distributed .footer-links .link-1:before {
    content: none;
  }

  .footer-distributed{
    margin-top: 16px;
    background-color: #202734;
  }

  .footer-distributed p.footer-links a:hover{
    text-decoration:underline;
  }

  @media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed {
    text-align: center;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}